git clone https://github.com/MRtrix3/mrtrix3.git 
cd mrtrix3/
./configure
./build
./set_path
pip install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
pip install torch-scatter==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.5.0.html
pip install torch-sparse==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
pip install torch-cluster==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
pip install torch-spline-conv==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
pip install torch-geometric
pip install antspyx
pip install nibabel==2.3.0
pip install numpy==1.15.4
pip install future==0.18.2
pip install torchvision==0.6.0
pip install dipy==1.1.0